@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li, a, button {
    font-size: 22px;
    font-weight: 600;
    color: #243e63;
    text-decoration: none;
}

/* HEADER & NAV */

header{
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10%;
}

.nav__logo--title{
    font-size: 32px;
    font-weight: bold;
    color: #243e63;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 300ms ease;
}

.nav__links li a:hover{
    color:#6415FF;
}

.square__logo{
    height:60px;
    width: 60px;
    
}


button{
    padding: 10px 32px;
    background-color: rgb(80, 17, 204);
    color: white;
    border: none;
    border-radius: 9999px;
    margin-top: 2px;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover{
    color: rgb(80, 17, 204);
}