@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li, a, button {
    font-size: 22px;
    font-weight: 600;
    color: #243e63;
    text-decoration: none;
}

h4{
    font-size: 36px;
    margin-left: 14px;
}

p{
    display: block;
}

/* NAV */

header{
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10%;
}

nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo--title{
   display:flex;
   align-items: center;
   justify-content: center;
}

.nav__links{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 300ms ease;
}

.nav__links li a:hover{
    color:#6415FF;
}

.square__logo{
    height:60px;
    width: 60px;
    
}


button{
    padding: 10px 32px;
    background-color: rgb(80, 17, 204);
    color: white;
    border: none;
    border-radius: 9999px;
    margin-top: 2px;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover{
    color: black;
}

/* SECTION HEADER */


header .row{
    align-items: flex-end;
}

.row{
    display: flex;
}

.purple{
    color: #6415FF;
}

h1{
    font-size: 46px;
}

h2{
font-size: 56px;
}

.header__description{
    width: 41.6667%;
}

.header__description--para{
    font-size: 24px;
    display: block;
    margin: 32px 0;
    line-height: 1.5;
}

.header__email{
    width:100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display:flex;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 400;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
    position: absolute;
    right:0;
    z-index:2;
    margin:9px;
    padding: 16px;
    height: calc(100%-16px);
    border-radius: 500px;
    width:180px;
    border:none;
    background-color: #6415FF;
    color:white;
    font-weight: 800;
    font-size: 24px;
    transition: all 300ms ease;
}

.header__img--wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.wrapper_img{
    width: 50%;
}


.header__img{
    max-width: 512px;
}

.header__ourcustomer--title{
font-weight: 600;
color:#a0aec0;
margin-top: 90px;
}

.header__customers{
    margin-top: 16px;
    padding-right: 64px;
    color:#a0aec0;
    opacity: 50%;
    width:100%;
}

/* MAIN FEATURES */

.main__features--title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 1%;
}

.main_features--service {
display: flex;
justify-content: center;
align-items: center;

}

.main__features--para{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color:#7c8ba1;
    line-height: 1.5;
    margin-top: 1%;
    padding-bottom: 96px;

}

#pink__blob{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    padding: 16px;
}

/*.features{
    position:relative;
    padding: 0 32px;
}
*/
section{
    padding: 0 32px;
    margin-bottom: 96px;
}

.features{
display:flex;
flex-wrap: wrap;
align-items: center;
margin-top: 40px;
}

.feature{
    width: calc(100% / 3);
    text-align: center;
    display:flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
    width: 65px;
    height: 65px;

}

.feature__img{
    width: 24px;
    height: 24px;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;
    align-items: flex-start;
  }

  /* FLEX CONTAINER */

  .flex-item{
    font-size: 32px;
    margin-bottom: 16px;
  }

  .flex__description{
    font-size: 24px;
    color: #7c8ba1;
  }

 /* QUALITY */

 .quality{
    
 }

.learn__more--btn{
    background-color: #6415FF;
}

.learn__more--btn:hover{
    cursor: pointer;
    background-color:#4f0bd8 ;
    color: #ffff;
}

.hero__img{
    width: 50%;
}