@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li, a, button {
    font-size: 22px;
    font-weight: 600;
    color: #243e63;
    text-decoration: none;
}

h4{
    font-size: 36px;
    margin-left: 14px;
}

p{
    display: block;
}

/* NAV */

header{
display: flex;
justify-content: center;
align-items: center;
padding: 30px 10%;
}

nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo--title{
   display:flex;
   align-items: center;
   justify-content: center;
}

.nav__links{
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 300ms ease;
}

.nav__links li a:hover{
    color:#6415FF;
}

.square__logo{
    height:60px;
    width: 60px;
    
}


button{
    padding: 10px 32px;
    background-color: rgb(80, 17, 204);
    color: white;
    border: none;
    border-radius: 9999px;
    margin-top: 2px;
    cursor: pointer;
    transition: all 300ms ease;
}

button:hover{
    color: black;
}

/* SECTION */

.purple{
    color: #6415FF;
}

h1{
    font-size: 46px;
}

.header__description--para{
    font-size: 24px;
    display: block;
    margin: 32px 0;
}

.header__email{
    width:100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display:flex;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
    z-index:2;
    margin:9px;
    padding: 16px;
    height: calc(100%-16px);
    border-radius: 500px;
    width:190px;
    border:none;
    background-color: #6415FF;
    color:white;
    font-weight: 800;
    font-size: 24px;
    transition: all 300ms ease;
}

.header__img--wrapper{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 41.6667%);
}

.header__img{
    max-width: 512px;
}

.header__ourcustomer--title{
font-weight: 600;
color:#a0aec0;
margin-top: 90px;
}

.header__customers{
    margin-top: 16px;
    padding-right: 64px;
    color:#a0aec0;
    opacity: 50%;
}

.container{
    padding:96px;
}
